.env
laradoc/
vendor
node_modules
/public/css/*
/public/js/*
/public/sounds
public/images
.idea
.DS_Store
/public/mix-manifest.json
package-lock.json
yarn.lock
/public/fonts/
/public/noble-ui/
/public/inspinia/

storage/inspinia-2.9.2

/packages

bin/
.composer.lock
/public/.htaccess
